 RewriteEngine on
 RewriteBase /srcview/
 RewriteRule ^dwntargzip([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=gzip
 RewriteRule ^dwntargz([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=gzip
 RewriteRule ^dwntarbzip2([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=bzip2
 RewriteRule ^dwntarbzip([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=bzip2
 RewriteRule ^dwntarbz2([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=bzip2
 RewriteRule ^dwntarbz([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1&output=bzip2
 RewriteRule ^dwntar([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=dwntar&tar=$1
 RewriteRule ^html([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=html&tar=$1&file=$2
 RewriteRule ^view([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=view&tar=$1&file=$2
 RewriteRule ^text([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^txt([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^list([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=list&tar=$1&dir=$2
 RewriteRule ^downloadgzip([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgz([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgbzip2([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbzip([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz2([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^download([A-Za-z0-9\.\/%\?\-_]+):([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2
 RewriteRule ^html([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=html&tar=$1&file=$2
 RewriteRule ^view([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=view&tar=$1&file=$2
 RewriteRule ^text([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^txt([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^list([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=list&tar=$1&dir=$2
 RewriteRule ^downloadgzip([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgz([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgbzip2([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbzip([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz2([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^download([A-Za-z0-9\.\/%\?\-_]+)\!([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2
 RewriteRule ^html([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=html&tar=$1&file=$2
 RewriteRule ^view([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=view&tar=$1&file=$2
 RewriteRule ^text([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^txt([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^list([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=list&tar=$1&dir=$2
 RewriteRule ^downloadgzip([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgz([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgbzip2([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbzip([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz2([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^download([A-Za-z0-9\.\/%\?\-_]+)\@([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2
 RewriteRule ^html([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=html&tar=$1&file=$2
 RewriteRule ^view([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=view&tar=$1&file=$2
 RewriteRule ^text([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^txt([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=text&tar=$1&file=$2
 RewriteRule ^list([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=list&tar=$1&dir=$2
 RewriteRule ^downloadgzip([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgz([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=gzip
 RewriteRule ^downloadgbzip2([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbzip([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz2([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^downloadgbz([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2&output=bzip2
 RewriteRule ^download([A-Za-z0-9\.\/%\?\-_]+);([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=download&tar=$1&file=$2
 RewriteRule ^list([A-Za-z0-9\.\/%\?\-_]+)    index.php?act=list&dir=$1
 IndexOptions HTMLTable VersionSort FoldersFirst VersionSort